/* .tab-main {
  margin-right: 70px;
} */

.tab-active {
  color: #386c34;
  border-bottom: 2px solid #386c34;
  height: 50px;
}
.tab-label {
  margin-left: 10px;
}

.message-tab-active {
  border-bottom: 7px solid #a0c49d !important;
  height: 45px;
}

.billing-tab-container {
  min-width: 477px;
}

.billing-tab {
  padding: 0 12px;
}

@media only screen and (max-width: 1080px) {
  .tab-label {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .billing-tab-container {
    min-width: 150px;
  }
  .billing-tab {
    padding: 0 6px;
  }
}
