.profile-settings-banner {
  /* width: 100%; */
  position: relative;
  background-image: url("../../assets//images/profile-settings/profile-bg.svg");
  height: 165px;
  margin: 0 52px;
  margin-top: 36px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-card {
  transition: ease-out 300ms;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 6px 0px 9px #efefef;
}

.custom-card:hover {
  /* display: flex; */
  transform: scale(1.05);
}

.cards-arrow {
  /* display: none; */
  opacity: 0;
}

.custom-card:hover .cards-arrow {
  transition: ease-out 300ms;
  opacity: 1;
  /* display: block; */
}

.banner-text-heading {
  margin-left: 100px;
}

.left-arrow-settings {
  margin-left: 54px;
}

.payment-card-front, .payment-card-back {
  border-radius: 30px;
  background: linear-gradient(177.23deg, #A0C49D -13.49%, #386C34 109.75%);
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  display: grid;
}

.payment-card-front {
  max-width: 555px;
}

.payment-card-back {
  max-width: 208px;
}

.payment-card-front > .top-right-oval,
.payment-card-back > .top-right-oval {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: -50%;
  right: -50%;
}

.payment-card-front > .bottom-left-oval,
.payment-card-back > .bottom-left-oval {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  right: 50%;
}

@media only screen and (max-width: 768px) {
  .profile-settings-banner {
    /* height: 165px; */
    margin: 0px;
    margin-top: 36px;
    /* margin-top: 36px; */
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

  .banner-text-heading {
    margin-left: 30px;
  }

  .left-arrow-settings {
    margin-left: 32px;
  }
}
@media only screen and (max-width: 425px) {
  .profile-settings-banner {
    /* height: 165px; */
    margin: 0 !important;
    margin-top: 36px !important;
    height: 200px;
    /* margin-top: 36px; */
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

  .banner-text-heading {
    margin-left: 10px;
  }

  .left-arrow-settings {
    margin-left: 12px;
  }
}
