.profile-settings-banner {
  /* width: 100%; */
  position: relative;
  background-image: url("../../assets//images/profile-settings/profile-bg.svg");
  height: 165px;
  margin: 0 52px;
  margin-top: 36px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-card {
  transition: ease-out 300ms;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 4px 6px 0px 9px #EFEFEF;
}

.custom-card:hover {
  /* display: flex; */
  transform: scale(1.05);
}

.cards-arrow {
  /* display: none; */
  opacity: 0;
}

.custom-card:hover .cards-arrow {
  transition: ease-out 300ms;
  opacity: 1;
  /* display: block; */
}