@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap');

@mixin typography($color,
    $fontFamily,
    $fontSize,
    $fontWeight,
    $lineHight,
    $letterSpacing,
) {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHight;
    letter-spacing: $letterSpacing;

    @if $color ==null {
        color: #000000;
    }

    @else {
        color: $color;
    }
}