.nav-link {
  margin-right: 2.9rem;
}

.navbar {
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 0 40px !important;
  min-height: 78px;
}

.navbar-collapse {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-button {
  margin-right: 1.5rem;
}

.login-button-mobile {
  display: none !important;
}

.create-account-btn {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../../assets/images/X.svg");
}

.dropdown-toggle::after {
  display: none;
}

.nav-mobile {
  display: flex;
  align-items: center;
}

/* .mobile-btn {
  width: 188px !important;
  margin-top: 0 !important;
} */

.mobile-border-nav {
  display: none;
}

@media (max-width: 991.98px) {
  .login-button {
    display: none !important;
  }

  .login-button-mobile {
    display: block !important;
    margin-left: auto;
  }

  .create-account-btn {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /* .login-button-mobile {
      margin-left: auto;
    } */
}

@media only screen and (max-width: 1200px) {
  .nav-link {
    margin-right: 1.7rem;
  }

  .navbar {
    padding: 0 1rem !important;
  }
}

@media (max-width: 1005px) {
  .navbar {
    padding: 0 1rem !important;
  }

  .nav-link {
    margin-right: 1rem;
  }
}

@media (max-width: 1024px) {
  .mobile-btn {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .mobile-border-nav {
    display: block;
    border-bottom: 1px solid #1a1a1a;
    opacity: 0.1;
  }

  .mobile-btn {
    width: 100% !important;
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 425px) {
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .mobile-border-nav {
    display: block;
    border-bottom: 1px solid #1a1a1a;
    opacity: 0.1;
  }

  .mobile-btn {
    width: 100%;
    margin-top: 10px;
  }

  .navbar-arrow-left {
    margin-right: 20px;
  }
}
