.subscription-free {
  background-color: rgba(228, 228, 228, 0.6);
  color: rgba(121, 121, 121, 1);
}

.subscription-standard {
  background-color: rgb(255, 250, 214);
  color: rgba(121, 121, 121, 1);
}

.subscription-advanced {
  background-color: rgb(216, 255, 251);
  color: rgba(121, 121, 121, 1);
}

.subscription-featured {
  background-color: rgb(219, 229, 255);
  color: rgba(121, 121, 121, 1);
}

.interval {
  cursor: pointer;
}

.interval.active-interval {
  color: white;
  font-weight: 600;
  background-color: #A0C49D;
}

.click-here {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.click-here:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  color: #747bff;
}
