.subscription-free {
  background-color: rgba(228, 228, 228, 0.6);
  color: rgba(121, 121, 121, 1);
}

.subscription-pro {
  background-color: rgb(255, 250, 214);
  color: rgba(121, 121, 121, 1);
}

.subscription-teams {
  background-color: rgb(216, 255, 251);
  color: rgba(121, 121, 121, 1);
}

.subscription-business {
  background-color: rgb(219, 229, 255);
  color: rgba(121, 121, 121, 1);
}

.interval {
  cursor: pointer;
}

.interval.active-interval {
  color: white;
  font-weight: 600;
  background-color: #A0C49D;
}
