.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.lg-input-small-text {
  font-size: 16px !important;
}

.lg-input-small-text::placeholder {
  font-size: 16px;
}

.login-page-text-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #E4E7EC;
  line-height: 0.1em;
  /* margin: 10px 0 20px; */
  margin: 24px 0;
}

.login-page-text-divider span {
  background: #fff;
  padding: 0 10px;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* cover makes the image stretch the width and height of the container */
}

.login-modal-form-col {
  padding: 18px 64px;
}

.box {
  width: 75px;
  height: 69px;
  background-color: #A0C49D;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}


.modal-90w {
  width: 90%;
  max-width: 1200px !important;
  /* margin: 0 5rem !important; */
}


/* .col-md-6 {
    max-width: 100%;
    height: 100vh;
 } */

/* .modal-test{
    width: 1200px !important;
} */

@media (max-width: 1200px) {
  .login-modal-form-col {
    padding: 18px 28px;
  }
}

@media (max-width: 991px) {
  .login-image-mobile {
    display: none !important;
  }

  .login-modal-form-col {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    /* margin: 0 5rem; */
    /* flex: 1;
    }
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}