.event-card {
  /* width: 48% !important; */
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.hero-form:active:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.card-title-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-dropdown {
  position: absolute;
  top: 58px;
  left: 0px;
  right: 0px;
  max-height: 250px;
  overflow-y: scroll;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 2;
}

.suggestion-dropdown > div {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.suggestion-dropdown > div:hover {
  background-color: rgb(237, 237, 237);
}

.suggestion-dropdown > div:last-child {
  border-bottom: none !important;
}

.suggestion-dropdown > div > div {
  border-radius: 16px;
  font-weight: 500;
  font-size: 13px;
}

@media (max-width: 992px) {
  .event-card {
    width: 100% !important;
  }

  .hero-text .heading {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .col-mobile {
    padding: 0 20px !important;
  }

  .description-mobile {
    display: none;
  }
}
