@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
    font-display: swap;
}

//********************Assets
@import "./style-assets/colors";
@import "./style-assets/typography";
// @import "./style-assets/page";
// @import "./style-assets/misc";

//*********************Mixins
@import "./mixins/typographyMixin";